@page
@model IBAS_menu.Pages.ContactModel
<table>
    <tr>
        <th>Navn</th>
        <th>E-mail</th>
        <th>tlf</th>
    </tr>
    <tr>
        <td>Karen</td>
        <td>Karenkosteskaft@hotmial.com</td>
        <td>45276318</td>
    </tr>
</table>
@{
}
