@page
@model IndexModel
<br />
<br />
<table>
    <tr>
        <th>Dag </th>
        <th>Varm ret</th>
        <th>Kold ret</th>
    </tr>
    <tr>
        <td>Man 02</td>
        <td>Kylling og Pasta</td>
        <td>Smørebrød</td>
    </tr>
    <tr>
        <td>Tir 03</td>
        <td>Græskarsuppe</td>
        <td>Pastasalat</td>
    </tr>
    <tr>
        <td>Ons 04</td>
        <td>Lasagne</td>
        <td>Koldskål</td>
    </tr>
    <tr>
        <td>Tor 5</td>
        <td>Spaghetti</td>
        <td>kylling</td>
    </tr>
    </table>
@{
    ViewData["Title"] = "Home page";
}

